nav {
  background-color: transparent;
  text-align: center;
}
nav ul li {
  display: inline;
  margin-right: 5rem;
}
nav ul li a {
  color: rgb(248, 245, 245);
  text-decoration: none;
  text-decoration-line: underline;
  text-justify: distribute;
  z-index: auto;
}
nav ul li a:hover {
  color: #0e93e0;
}
body {
  background: url(./bmw2.png) repeat center center/cover;
  height: 750px;
  width: 100%;
  z-index: -1;
  opacity: 0.8;
}
h1 {
  height: 25px;
  display: flex;
  justify-content: right;
  color: rgb(231, 231, 231);
  margin-right: 60px;
  margin-bottom: 16px;
}
h1:hover {
  color: #0e93e0;
}
