li {
    
    background-color: lightskyblue;
}
div p {
    background-color: rgb(159, 202, 142);

}
ul li {
    background-color: mediumspringgreen;
}
/* Menu */
nav ul li {
    background-color: moccasin;
}